/* Element selectors */
*{
    font-family: Georgia;
    text-align: center;
}

h1{
      color: rgb(250, 250, 250);
      text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

/* id selector(s) */
#underline{
    text-decoration: underline;
}

/* Background and outlines */
.background{
  background-color: rgb(64, 64, 64);
}

.gui{
  border: 2px rgb(127, 0, 127);
  padding: 30px;
  width: 600px;
  height: 600px;
  margin: 40px auto;
  border-radius: 30px;
  background-color: rgb(250, 250 ,250);
}

/* Spacing */
.spacing{
  margin-block: 20px;
  padding-block: 10px;
}

.spacingSmall{
  margin-block: 5px;
  padding-block: 5px;
}

/* Stacking */
.horizontalStack {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 50px; /* Space between columns */
}

.verticalStack {
    margin-block: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    gap: 15px; /* Add this line for spacing between children */
}