*{
    font-family: 'Times New Roman';
    font-size: 24px;
}

h1{
    text-align: center;
}

table{
    border-color : black;
    border-width : 8px;
    border-radius: 9px;
    border-spacing: 16px;
    border-style : solid;
    text-align: center;
}

.dateHeaders{
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    text-decoration: underline;
}

.dateHeaders:hover{
    background-color: rgb(128, 65, 65);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

